.container {
  width: 40%;
}

.delete-button:hover {
  cursor: pointer;
}

.delete-button:active {
  margin-top: 3px;
}

.add-item-form {
  margin-bottom: 5em;
}

.add-item-form .btn:active {
  margin-top: 7px;
}

.strike-text {
  text-decoration: line-through
}

.task-tracker {
  background-color: white; 
  border: 2px solid teal;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

.progress-circle {
  width: 100px;
  height: 100px;
  border: 2px solid teal;
  border-radius: 50%;
  margin: 20px auto;
  line-height: 100px;
  font-size: 24px;
  color: #000;
}

.todo-message {
  margin-top: 20px;
}